/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-nav {
  box-shadow: 10px 100px 200px 50px hsl(233, 26%, 24%);
}

button {
  outline: none;
  border: none;
}
.btn-header {
  outline: none;
  border: none;
}
img {
  border: none;
}
.wrap-articles article img {
  width: 533px;
  height: 400px;
}

/* changer le fill des svg réseaux sociaux */
.fb:hover {
  cursor: pointer;
}
.fb svg:hover path{
  fill: hsl(136, 65%, 51%);
}
.youtube:hover {
  cursor: pointer;
}
.youtube svg:hover path{
  fill: hsl(136, 65%, 51%);
}
.twitter:hover {
  cursor: pointer;
}
.twitter svg:hover path{
  fill: hsl(136, 65%, 51%);
}
.pinterest:hover {
  cursor: pointer;
}
.pinterest svg:hover path{
  fill: hsl(136, 65%, 51%);
}
.instagram:hover {
  cursor: pointer;
}
.instagram svg:hover path{
  fill: hsl(136, 65%, 51%);
}
/* médias queries */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .btn-header {
    width: 11rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .accueil {
    min-height: 450px;
  }
}
@media screen and (min-width: 1280px) {
  .accueil {
    height: 550px;
  }
}
