/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (min-width:768px){
    .btn-header {
        width: 11rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
